@model IEnumerable<AirlineModels.FlightInfo>

@{
    ViewBag.Title = "Arrivals";
}
<h2>Arrivals</h2>
<p><b>Find Flight by Number</b></p>
@using (Html.BeginForm())
{
    <input id="flightNumber" name="flightNumber" type="text" size="40">
    <p>
        <input id="btnAjax1" type="button" value="Submit">
        <input type="reset" value="Reset">
    </p>
}
<div id="flights"></div>
<div id="passengers"></div>
<div id="Allflights">
  
    
    <p>
        @Html.ActionLink("Create New", "Create")
    </p>
    <table class="table">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Datetime)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FlightNumber)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PortOfArrival)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Terminal)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Flightstatus)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Gate)
            </th>
            <th></th>
        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Datetime)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.FlightNumber)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.PortOfArrival)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Terminal)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Flightstatus)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Gate)
                </td>
                <td>
                    @Html.ActionLink("Edit", "Edit", new { id = item.Id }) |
                    @Html.ActionLink("Details", "Details", new { id = item.Id }) |
                    @Html.ActionLink("Delete", "Delete", new { id = item.Id })
                </td>
            </tr>
        }

    </table>
</div>

<p><b>Find Flights by Passenger's Last Name</b></p>
@using (Html.BeginForm())
{
    <input id ="lastName" name="lastName" type="text" size="40">
    <p><input id="btnAjax" type="button" value="Submit">
    <input type="reset" value="Reset"></p>
}
@Html.Action("FlightsByStatus")


<script src="~/Scripts/jquery-1.10.2.min.js"></script>
@section Scripts {
<script>
    $('#btnAjax').click(function () {
        var lastname = $('#lastName').val();

                $.ajax({
                    url: '/FlightInfo/Find',
                    contentType: 'application/html; charset=utf-8',
                    data: { 'id': lastname },
                   // cache: false,
                    type: 'get',
                    dataType: 'html'
                })
            .success(function (result) {
                $('#Allflights').detach();
                $('#passengers').html(result);
                })
                .error(function (xhr, status) {
                    alert(status);
                })
    });
    $('#btnAjax1').click(function () {
        var flightNum = $('#flightNumber').val();

        $.ajax({
            url: '/FlightInfo/FindByNumber',
            contentType: 'application/html; charset=utf-8',
            data: { 'id': flightNum },
            // cache: false,
            type: 'get',
            dataType: 'html'
        })
    .success(function (result) {
        $('#Allflights').detach();
        $('#flights').html(result);
    })
        .error(function (xhr, status) {
            alert(status);
        })
    });
    </script>
}
